.header{
    color :white;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll; 
    background-size: 200% 100%;
    

}

.header::-webkit-scrollbar {
    display: none;
}

.header_logo{
    color: white;
    object-fit: contain;
    cursor: pointer;
    font-family: 'Abel', sans-serif;
    padding: 10px;
    padding-left: 40px;
    margin-left: 20px;
    font-size: large;

}

.header_icons{
     display: flex;
     align-items: center;
     text-align: center;
     padding-left: 30px;
}

.header_icon{
     display: flex;
     flex-direction: column;
     width: 100px;
     cursor: pointer;
     color: white !important;

}
.header_icon--active > p{
    display: inline-flex !important;
}
.header_icon:hover > p{
    display: inline-flex !important;
}
.header_icon > p{
    display: none !important;
    font-size:x-small;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.header_icon > .MuiSvgIcon-root{
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    
}
.search {
   
    background-color: transparent !important;
    top: 10px;
    font-family: 'Abel', sans-serif;
   
    border: none;
  
}
.search{
    color: white !important;
}

.rating{
    display:inline-flex;
    background-color: grey;
    padding: 2px;
    font-size: x-small;
    font-family: 'Abel', sans-serif;
    opacity: .7;
    border-radius: 2px;

    
    
}

.rating > span{
    
    margin-right: auto;
    display:contents;
    opacity: 1 !important;
}

.profile{
    width: 100vw;
    height: 100vh;
}
